.fl_by { background-image: url(../images/fl_by.png) !important; }
.fl_ge { background-image: url(../images/fl_ge.png) !important; }
.fl_kg { background-image: url(../images/fl_kg.png) !important; }
.fl_kz { background-image: url(../images/fl_kz.png) !important; }
.fl_ru { background-image: url(../images/fl_ru.png) !important; }
.fl_tj { background-image: url(../images/fl_tj.png) !important; }
.fl_ua { background-image: url(../images/fl_ua.png) !important; }
.fl_uz { background-image: url(../images/fl_uz.png) !important; }
