/* version: 0.1 */
.split_hor_top { background-image: url( images/split_hor_top.png ) !important; }
.split_hor_bottom { background-image: url( images/split_hor_bottom.png ) !important; }
.split_vert_left { background-image: url( images/split_vert_left.png ) !important; }
.split_vert_right { background-image: url( images/split_vert_right.png ) !important; }
.close_blue { background-image: url( images/close_blue.png ) !important; }
.save_but { background-image: url( images/save_but.png ) !important; }
.delete_but { background-image: url( images/delete_but.png ) !important; }
.set_but { background-image: url( images/set_but.png ) !important; }
.set_but_svg { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path transform='scale(0.015) translate(1000 1000) rotate(180)' d='M840 538c-8 26-20 52-32 76 14 22 68 100 30 138 0 0-20 20-20 20-34 34-118-18-138-30-24 12-50 24-78 32-4 26-24 116-78 116 0 0-22 0-22 0-46 0-74-94-80-118-26-8-52-18-76-32-18 14-100 70-140 30 0 0-20-16-20-16-34-36 24-126 34-142-14-24-24-48-32-74-22-4-120-24-120-80 0 0 0-20 0-20 0-50 102-76 120-80 8-28 18-52 32-76-10-16-66-106-32-140 0 0 20-18 20-18 44-44 138 30 138 30s-4 4-4 4c26-14 52-26 80-34 6-20 32-120 80-120 0 0 22 0 22 0 64 0 80 118 80 118s-6 0-6 0c28 8 56 18 80 32 20-12 104-64 136-32 0 0 22 22 22 22 46 46-28 136-30 138 14 24 26 50 34 76 26 8 116 34 116 80 0 0 0 20 0 20 0 60-102 78-116 80zM510 256c-104 0-186 86-186 190s82 192 186 192c102 0 194-88 194-192s-92-190-194-190z' style='fill: lightgray'/></svg>") !important; }
.table_but { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path transform='scale(0.015) translate(1000 1000) rotate(180)' d='M682 72v138h206v-138h-206zM682 482h206v-136h-206v136zM682 756h206v-138h-206v138zM410 618v138h204v-138h-204zM136 210h206v-138h-206v138zM136 482h206v-136h-206v136zM136 756h206v-138h-206v138zM614 346h-204v136h204v-136zM614 72h-204v138h204v-138z' style='fill: lightgray'/></svg>") !important; }
.report_but { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path transform='scale(0.015) translate(1000 1000) rotate(180)' d='M888 618v-614h-752v888h478v68h-546v-1024h888v682h-68zM750 550h-476v-68h476v68zM274 210h340v68h-340v-68zM750 414h-476v-68h476v68zM682 960v-274h274l-274 274z' style='fill: lightgray'/></svg>") !important; }
.read_all_but { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path transform='scale(0.015) translate(1000 1000) rotate(180)' d='M888 278v68h68v-68h-68zM820 210v68h68v-68h-68zM750 140v70h70v-70h-70zM682 72v68h68v-68h-68zM614 4v68h68v-68h-68zM546 140h68v-68h-68v68zM478 210h68v-70h-68v70zM204 210v68h204v-68h-204zM682 346h-478v68h478v-68zM204 686h478v-68h-478v68zM682 482h-478v68h478v-68zM820 482l-2-2 2 344h-684v-752h274v-68h-342v888h820v-410h-68z' style='fill: lightgray'/></svg>") !important; }
.filter_but { background-image: url( images/filter_but.png ) !important; }
.show_menu_but { background-image: url( images/show_menu_but.png ) !important; }
.next_but { background-image: url( images/next_but.png ) !important; }
.prev_but { background-image: url( images/prev_but.png ) !important; }
.add_but { background-image: url( images/add_but.png ) !important; }
.add_but_svg { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path transform='scale(0.015) translate(1000 1000) rotate(180)' d='M820 482h-274v274h-68v-274h-274v-68h274v-274h68v274h274v68z' style='fill: lightgray'/></svg>") !important; }
.del_but { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path transform='scale(0.015) translate(1000 1000) rotate(180)' d='M820 140h-70l-238 240-238-240h-70v70l240 238-240 238v70h70l238-240 238 240h70v-70l-240-238 240-238v-70z' style='fill: lightgray'/></svg>") !important; }
.edit_but { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path transform='scale(0.015) translate(1000 1000) rotate(180)' d='M864 746c0 0-56 56-56 56-28 30-82 30-112 0 0 0-22-22-56-56 0 0 168-168 168-168v0c0 0 56 56 56 56 30 30 30 84 0 112zM612 718c-106-106-286-288-364-364 0 0 0 0 0 0s30-30 58-58c28-28 54-56 54-56l56-56 364 366c0 0-168 168-168 168zM248 298v56l-112-282 280 112h-56l-112 114zM240 344c0 0 0 0 0 2 0-2 0-2 0-2zM244 350c2 0 2 0 2 2 0-2 0-2-2-2zM248 352c0 0 0 0 0 2 0-2 0-2 0-2z' style='fill: lightgray'/></svg>") !important; }
.info_but { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path transform='scale(0.015) translate(1000 1000) rotate(180)' d='M136 824v-820h820v820h-820zM478 686h136v-136h-136v136zM682 140h-272v70h68v204h-68v68h204v-272h68v-70z' style='fill: lightgray'/></svg>") !important; }
.close_dialog_but { background-image: url( images/close_dialog_but.png ) !important; }
.excel_icon_but { background-image: url( images/excel_icon.png ) !important; }
.order-list { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path transform='scale(0.015) translate(1000 1000) rotate(180)' d='M68 892h752v-136h-752v136zM478 482h-410v136h410v-136zM342 210h-274v136h274v-136zM614 278v340h206v-340h136v-68h-68v-70h-68v-68h-70v-68h-68v68h-68v68h-68v70h-68v68h136z' style='fill: lightgray'/></svg>") !important; }
.order-list-up { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path transform='scale(0.015) translate(1000 1000) rotate(180)' d='M750 618h-68v-68h-68v-68h-68v-68h-68v-68h136v-342h206v342h136v68h-68v68h-68v68h-70v68zM820 756h-752v136h752v-136zM68 618h410v-136h-410v136zM68 346h274v-136h-274v136z' style='fill: lightgray'/></svg>") !important; }
.paste_but { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path transform='scale(0.030) translate(500 500) rotate(180)' d='M375.466-34.133h-170.667v307.2h273.067v-204.8l-102.4-102.4zM443.733 238.933h-204.8v-238.934h102.4v102.4h102.4v136.534zM170.667 273.067l-34.133-204.8h-102.4v341.334h68.266v-34.133h238.934v34.133h68.267v-102.4h-204.8l-34.133-34.133zM136.534 443.733l34.133 34.134h102.4l34.134-34.134v-34.133h-170.667v34.133z' style='fill: lightgray'/></svg>") !important; }
.calendar_but { background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path transform='scale(0.030) translate(500 500) rotate(180)' d='M34-0.133v444h444v-444h-444zM137 409.867h-35v-34h35v34zM205 409.867h-34v-34h34v34zM341 409.867h-34v-34h34v34zM410 409.867h-35v-34h35v34zM444 340.867h-376v-307h376v307zM171 272.867h-69v34h69v-34zM171 204.867h-69v34h69v-34zM171 136.867h-69v34h69v-34zM171 67.867h-69v35h69v-35zM307 272.867h-102v34h102v-34zM307 204.867h-102v34h102v-34zM307 136.867h-102v34h102v-34zM307 67.867h-102v35h102v-35zM410 272.867h-69v34h69v-34zM410 204.867h-69v34h69v-34zM410 136.867h-69v34h69v-34zM410 67.867h-69v35h69v-35z' style='fill: lightgray'/></svg>") !important; }
.mini_green_icon { background-image: url( images/mini_green.png ) !important; }
.mini_red_icon { background-image: url( images/mini_red.png ) !important; }

.icon-leftpanel-open:before{content:"\e642"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-rightpanel-open:before{content:"\e648"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-filter:before{content:"\e663"; font-size: 15px; line-height: normal;}

.icon-right-all:before{content:"\e606"; font-size: 15px; line-height: normal;}
.icon-left-all:before{content:"\e607"; font-size: 15px; line-height: normal;}
.icon-right:before{content:"\e612"; font-size: 15px; line-height: normal;}
.icon-left:before{content:"\e613"; font-size: 15px; line-height: normal;}

.icon-filter-big:before{content:"\e663"; color: #c2c2c2; font-size: 40px; line-height: normal;}
.icon-menu:before{content:"\e929"; font-size: 15px; line-height: normal;}
.icon-settings:before{content:"\e623"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-cross-2:before{content:"\e6b0"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-save:before{content:"\e60d"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-dockright:before{content:"\e6df"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-dockleft:before{content:"\e6e0"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-dockbottom:before{content:"\e92c"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-docktop:before{content:"\e92d"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-add-mini:before{content:"\e62b"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-download:before{content:"\e620"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-text:before{content:"\e65b"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-text-big:before{content:"\e65b"; color: #c2c2c2; font-size: 40px; line-height: normal;}
.icon-add-to-file:before{content:"\e683"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-sort:before{content:"\e92e"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-grid-to-chart:before{content:"\e70d"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-forward:before{content:"\e63a"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-back:before{content:"\e63b"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-export-chart:before{content:"\e6fa"; color: #0a0a0a; font-size: 15px; line-height: normal;}
.icon-copy:before{content:"\e610"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-paste:before{content:"\e91a"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-excel:before{content:"\e64c"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-support:before{content:"\e61f"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-set-alert:before{content:"\e65e"; font-size: 15px; line-height: normal;}

.icon-fullview:before{content:"\e62c"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-chart-fibonacci-retracements:before{content:"\e949"; color: #c2c2c2; font-size: 15px; line-height: normal;}
.icon-lock:before{content:"\e622"; color: #c2c2c2; font-size: 15px; line-height: normal;}

.icon-chart-bar-large:before{content:"\e61b"; font-size: 60px; line-height: normal;}
.icon-chart-bubble-large:before{content:"\e61d"; font-size: 60px; line-height: normal;}
.icon-chart-sankey-large:before{content:"\e96a"; font-size: 60px; line-height: normal;}
.icon-chart-line-large:before{content:"\e650"; font-size: 60px; line-height: normal;}
.icon-chart-pie-large:before{content:"\e669"; font-size: 60px; line-height: normal;}
.icon-chart-barhor-large:before{content:"\e714"; font-size: 60px; line-height: normal;}
.icon-chart-heatmap-large:before{content:"\e61c"; font-size: 60px; line-height: normal;}
.icon-analytics-align-center-large:before{content:"\e924"; font-size: 60px; line-height: normal;}

.sankey_icon { background-image: url( images/sankey_icon.png ) !important; }

.my_but_focus {
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(center top , #fbfbfb, #e9e9e9);
    border-color: #9d9d9d;
}

.node rect { cursor: move; fill-opacity: 0.9; shape-rendering: crispEdges; }
.node text { pointer-events: none; }
.link { fill: none; stroke: #000000; stroke-opacity: 0.5; }
.link:hover { stroke-opacity: 1.0; }

a.report_link, a.report_link:link, a.report_link:visited {
    display: block;
    padding: 5px;
    border: 1px solid transparent;
    color: #e2e2e2;
}
a.report_link:hover {
    border: 1px solid white;
    background-color: #303032;
}