<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отчеты</title>
    <link href="../static/css/theme-classic-all.css" th:href="@{/css/theme-classic-all.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/ext-theme-gray-all.css" th:href="@{/css/ext-theme-gray-all.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/mod_Extjs.css" th:href="@{/css/mod_Extjs.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/icon.css" th:href="@{/css/icon.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>

    <script src="../static/extjs/ext-all.js" th:src="@{/extjs/ext-all.js}" type="text/javascript"></script>
    <script src="../static/extjs/locale-rus.js" th:src="@{/extjs/locale-rus.js}" type="text/javascript"></script>

    <script src="../static/js/jquery-3.6.1.min.js" th:src="@{/js/jquery-3.6.1.min.js}" type="text/javascript"></script>

    <script src="../static/js/init.js" th:src="@{/js/init.js}" type="text/javascript" sec:authorize="isAuthenticated()"></script>
    <script src="../static/js/vcbl.js" th:src="@{/js/vcbl.js}" type="text/javascript" sec:authorize="isAuthenticated()"></script>

    <script src="../static/js/highcharts.js" th:src="@{/js/highcharts.js}" type="text/javascript"></script>
    <script src="../static/js/highcharts_theme.js" th:src="@{/js/highcharts_theme.js}" type="text/javascript"></script>

    <script src="../static/js/index.js" th:src="@{/js/index.js}" type="text/javascript" sec:authorize="isAuthenticated()"></script>
</head>
<body></body>
</html>